{% extends 'base.html.twig' %}

{% block title %}Login | {{ parent() }}{% endblock %}

{% block body %}
<div class="container login">
    <h1>Login</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(loginForm) }}
        {{ form_row(loginForm.email) }}
        {{ form_row(loginForm.password) }}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="buttons">
            <button type="submit" class="btn btn-primary">Login</button>
{#            <a href="{{ path('app_register') }}" class="btn btn-secondary">Register</a>#}
        </div>
    {{ form_end(loginForm) }}
</div>
{% endblock %}
