{% extends 'base.html.twig' %}

{% block title %}Register | {{ parent() }}{% endblock %}

{% block body %}
<div class="container register">
    <h1>Register</h1>

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}

        <div class="buttons">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="{{ path('app_login') }}" class="btn btn-secondary">Login</a>
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
