<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item {% if path is empty %} active {% endif %}">
            <a href="{{ path(link.route, link.routeParams) }}">{{ link.title }}</a>
        </li>
        {% for item in path %}
            {% if not loop.last %}
                <li class="breadcrumb-item">
                    <a href="{{ path(link.parentRoute, link.parentRouteParams(item)) }}">{{ item.title }}</a>
                </li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ path(link.parentRoute, link.parentRouteParams(item)) }}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ path('app_task_new_parent', {
                'parent': parent.id, 'link': link.id, 'status': newTaskStatus.slug | default(null)
            }) }}">+</a>
        </li>
    </ol>
</nav>