<ul class="nav nav-tabs">
    {% set requestRoute = app.request.attributes.get('_route') %}
    {% set requestLink = app.request.get('link') %}
    {% for link in global_service.generateHeaderLinks %}
        {% set isActive = link.isActive(requestRoute) or link.isHierarchyContainsId(requestLink) %}
        {% if link.isDropdown %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle  {{ isActive ? 'active' : '' }}"
                   href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ link.title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for subLink in link.subLinks %}
                        <a class="dropdown-item" href="{{ url(subLink.route, subLink.routeParams) }}">
                            {{ subLink.title }}
                        </a>
                    {% endfor %}
                </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link {{ isActive ? 'active' : '' }}" href="{{ url(link.route, link.routeParams) }}">
                    {{ link.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>