{% extends 'page.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block content %}
    <h1>Tasks</h1>

{#    <div class="input-group">#}
{#        <input type="text" class="form-control" placeholder="Title" name="title">#}
{#        <div class="input-group-append">#}
{#            <button class="btn btn-outline-secondary" type="button">Create</button>#}
{#        </div>#}
{#    </div>#}

    <table class="table">
        <thead>
            <tr>
                <th class="task-status-badge text-center align-middle">#</th>
                <th>Task</th>
                <th style="width: 168px;">Reminder</th>
                <th style="width: 168px;">CreatedAt</th>
                <th style="width: 168px;">UpdatedAt</th>
                <th style="width: 101px;">Status</th>
                <th style="width: 126px;">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            {% set status = statusList[task.status] %}
            <tr class="task task-status-{{ status.slug }} {{ task.isReminder ? 'task-reminder' : '' }}">
                <td class="task-status-badge text-center align-middle">#</td>
                <td>{{ task.title }}</td>
                <td>{{ task.reminder ? task.reminder|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>{{ task.updatedAt|date('Y-m-d H:i:s')}}</td>
                <td>{{ status.title }}</td>
                <td>
                    <a href="{{ path('task_edit', {'id': task.id}) }}" class="btn btn-secondary">edit</a>
                    {% if task.link is not empty %}
                        <a href="{{ task.link }}" class="btn btn-secondary" target="_blank">link</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_new') }}">Create new</a>
{% endblock %}
