{% extends 'page.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block content %}
    {% include'_breadcrumbs.html.twig' %}
    <table class="table">
        <thead>
            <tr>
                <th class="task-status-badge text-center align-middle">#</th>
                <th>Task</th>
                <th style="width: 60px;"></th>
                <th style="width: 168px;">Reminder</th>
                <th style="width: 101px;">Status</th>
                <th style="width: 108px;"></th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            {% set status = statusList[task.status] %}
            <tr class="task task-status-{{ status.slug }} {{ task.isReminder ? 'task-reminder' : '' }}">
                <td class="task-status-badge text-center align-middle">#</td>
                {% if task.hasChildren %}
                    <td><a href="{{ path('app_task_index_parent', {'parent': task.id}) }}">{{ task.title }}</a></td>
                {% else %}
                    <td>{{ task.title }}</td>
                {% endif %}
                <td>
                    {% if task.link is not empty %}
                        <a href="{{ task.link }}" class="btn btn-secondary btn-sm" target="_blank">link</a>
                    {% endif %}
                </td>
                <td>{{ task.reminder ? task.reminder|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ status.title }}</td>
                <td>
                    <a href="{{ path('app_task_new_parent', {'parent': task.id}) }}" class="btn btn-secondary btn-sm">new</a>
                    <a href="{{ path('app_task_edit', {'id': task.id}) }}" class="btn btn-secondary btn-sm">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
